html, body {
    height: 100%;
    margin: 0;
    color: white;
}

body {
   background: radial-gradient(50% 50% at 50% 50%, #000 0%, #319DBF 44%, #000 100%);
}

header {
    display: flex;
    margin: 0.5%;
}

header > a > h1, header > a {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: large;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    flex: 1;
    text-decoration: none;
    cursor:default;
}

#noStyle {
    text-decoration: none;
    color: inherit;
}

#options {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-family: Inter;
}

#options > a {
    text-decoration: none;
}

#options > *, #userOptions > *, header > a > h1 {
    margin-right: 1%;
    margin-left: 1%;
    color: white;
}

#btnLogging {
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    padding: 10px 20px;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#btnRegister {
    border: 1px solid white;
    border-radius: 10px;
    font-family: Inter;
    cursor: pointer;
    padding: 10px 20px;
    background: linear-gradient(180deg, #18C8FF 0%, #933FFE 100%);

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#userOptions {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
    margin-right: 1%;
}

.container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagenes {
    display: flex;
}

#estrella1 {
    width: 61px;
    height: 60px;
    fill: #FFF;
}

#estrellita2 {
    display: flex;
    width: 74px;
    height: 74px;
    fill: #FFF;
}

.container > h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0;

}

.container > p {
    color: #C1C1C1;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    width: 413px;
    display: flex;
}

#btnInfo {
    width: 144px;
    height: 54px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: linear-gradient(180deg, #18C8FF 0%, #933FFE 100%);

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*
informacion html
*/

#infBody {
    background: #000;
}

#titulo {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.eclipse {
    width: 221px;
    height: 302.4px;
    flex-shrink: 0;
    background: linear-gradient(144deg, rgba(183, 56, 56, 0.47) 15.86%, #FFF1C1 100%);
    filter: blur(150px);
}
.eclipse2 {
    width: 221px;
    height: 302.4px;
    flex-shrink: 0;
    border-radius: 302.4px;
    background: linear-gradient(142deg, #225D94 18.33%, #F616FB 103.79%);
    filter: blur(150px);

}

.container2 {
    text-align: center;
    font-style: normal;
    line-height: normal;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.inf1 {
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.eclipse {
    width: 221px;
    height: 302.4px;
    flex-shrink: 0;
    fill: linear-gradient(144deg, rgba(183, 56, 56, 0.47) 15.86%, #FFF1C1 100%);
    filter: blur(150px);
}

#tit2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
}

.inf2 {
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.eclipse2 {
    background: linear-gradient(142deg, #225D94 18.33%, #F616FB 103.79%);
    filter: blur(150px);
}

#texto2 {
    border-radius: 302.4px;
}

.inf3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.eclipse3 {
    width: 177px;
    height: 211.2px;
    background: linear-gradient(144deg, #70FF00 15.86%, #00CBF8 73.08%);
    filter: blur(150px);
}

.inf4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-around;
}

.eclipse5 {
    width: 279.261px;
    height: 232.942px;
    transform: rotate(-20.987deg);
    flex-shrink: 0;
    border-radius: 279.261px;
    background: linear-gradient(142deg, #F9E18F 18.33%, #028E86 103.79%);
    filter: blur(150px);
}

.inf5 {
    display: flex;
    justify-content: center;
    
    align-items: center;
    text-align: left;
}
