@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #479dac;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

body {
  background-color: #000;
  font-family: "Inter", sans-serif;
}

.logo-image {
  display: none;
  width: 40px;
}

.interface {
  display: none;
}

/* NAV */

header {
  display: flex;
  margin: 0.5%;
}

header > a > h1,
header > a {
  display: flex;
  color: #fff;
  font-family: Inter;
  font-size: large;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  flex: 1;
  text-decoration: none;
  cursor: default;
}

#noStyle {
  text-decoration: none;
  color: inherit;
}

#options {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-family: Inter;
}

#options > a {
  text-decoration: none;
}

#options > *,
#userOptions > *,
header > a > h1 {
  margin-right: 1%;
  margin-left: 1%;
  color: white;
}

#btnLogging {
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  padding: 10px 20px;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  
}

#btnRegister {
  border: 1px solid white;
    border-radius: 10px;
    font-family: Inter;
    cursor: pointer;
    padding: 10px 20px;
    background: linear-gradient(180deg, #18c8ff 0%, #933ffe 100%);
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

#userOptions {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: right;
  margin-right: 1%;
}

/* Footer */
#main-footer {
  background-color: #1b1b1b;
  padding: 20px;
  color: white;
}

.footer-column {
  width: 33.33%;
  vertical-align: middle;
}

.footer-column div {
  padding-right: 20px;
}

.footer-column h2 {
  color: #ffffff;
  font-size: 20px;
}

.footer-column p {
  color: #b4b4b4;
  font-size: 14px;
}

.footer-column input[type="email"] {
  padding: 8px;
  width: 60%;
  background: transparent;
  color: white;
  margin-bottom: 10px;
  border-image: linear-gradient(180deg, #18c8ff, #933ffe) 1;
}

.footer-column p.footer-info {
  color: #808080;
  font-size: 12px;
}

.footer-column nav a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
}

@media (max-width: 900px) {
  /* for header */
  #options {
    display: none;
  }

  .logo-image {
    display: inline-block;
  }
  .interface {
   display: inline-block;
  }

  header a h1 {
    display: none;
  
  }

}

@media (max-width: 690px) {
  /* for header */
  #btnLogging, #btnRegister {
    padding: 10px 10px;
    font-size: 10px;
  }

  #star3 {
    display: none;
  }

  .logo-image {
    width: 40px;
  }
}

@media (max-width: 431px) {


  /* for header */
  header {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .logo-image {
    width: 40px;
  }

  /* for footer */
  .footer-elements {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .footer-column {
      width: 100%;
  }

  .footer-column nav {
      display: flex;
      flex-direction: row;
  }

  .footer-column a {
      width: 20%;
      margin: 0.2 rem;
  }

  .footer-column nav {
      margin-top: 1rem;
      font-size: 0.8rem;
  }

  .footer-column nav a {
      width: 33.3%;
  }

  .service-options .option h4 {
      font-size: 1rem; 
  }
  .faq h3, .self-service h3 {
      font-size: 1.2rem; 
  }

  .faq-item h4 {
      font-size: 1rem; 
  }
  .search-bar input {
      width: 200px;
  }

  .option img {
      width: 30%;
  }
}
