body {
    height: 100%;
    margin: 0;
    color: white;
  }

.login-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10% 5%;
    display: none;
    
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    width: fit-content;
    border-radius: 10px;
}

#iniciarSesionTitle {
    font-size: 33px;
    font-weight: bold;
    margin-top: 0%;
  }

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1%;
}

#emailLabel {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  font-size: 15px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
}

.login form label {
    margin-bottom: 5%;
}

.login form input[type="email"],
.login form input[type="password"] {
  position: relative;
  margin-bottom: 9px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0);
  padding-inline-start: 12px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 100%;
  outline: none;
  font-size: 16px;
  height: 44px;
  caret-color: rgb(255, 59, 92);
  width: 100%;
  padding-inline-end: unset;
}


#btnEnviar {
  background: linear-gradient(180deg, #18C8FF 0%, #933FFE 100%);
  flex-shrink: 0;
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  min-width: 120px;
  min-height: 46px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  font-family: TikTokFont, PingFangSC, sans-serif;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 6px 8px;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  margin-top: 21px;
}

#btnEnviar:hover {
    background-color: #18C8FF;
}

/*  Estilos para el modal   */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
} 
.modal-content {
  background-color: #333;
  margin: 15% auto;
  padding: 20px;
  width: 30%;
  color: white;
  text-align: center;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalTitle {
  color: rgba(255, 255, 255, 0.9);
  font-size: 33px;
  font-weight: bold;
  text-align: center;
}

#optionsLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.login-btn {
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  /* font-weight: 600; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0);
}

.login-btn:hover {
  border-color: rgb(208, 209, 211);
  background-color: rgb(18, 18, 18);
}

.button-icon {
  left: 12px;
  position: absolute;
  display: flex;
}

.google {
  background-color: #555;
  font-weight: bold;
  color: white;
}

.email {
  background-color: #555;
  font-weight: bold;
  color: white;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
