 body {
  height: 100%;
  margin: 0;
  color: white;
 }

h2 {
  color: white;
  text-align: center;
}

section > div {
  display: flex;
  color: white;
  padding-left: 24%;
  padding-right: 24%;
  align-items: center;
}


#crypto {
  width: 40%;
  padding: 40px;
}

.img {
  width: 50%;
}