h2 {
  color: white;
  text-align: center;
}

section > div {
  display: flex;
  color: white;
  padding-left: 24%;
  padding-right: 24%;
  align-items: center;
}

#crypto {
  width: 256px;
  padding: 40px;
}
